.user-list {
    margin: 1rem;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
  }
  
  th {
    text-align: left;
    background-color: #eaeaea;
    padding: 0.5rem;
  }
  
  td {
    border: 1px solid #ccc;
    padding: 0.5rem;
  }
  
  tr:nth-child(even) td {
    background-color: #f7f7f7;
  }
  
  tr:hover td {
    background-color: #e6e6e6;
    cursor: pointer;
  }
  
  h2 {
    margin-bottom: 1rem;
  }
  